@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --charcoal: #1a1a1a;
  --red-orange: #D63031;
  --off-white: #F9F6F2;
  --gold: #C7A951;
}

body {
  color: var(--charcoal);
  background: var(--off-white);
  font-family: var(--font-body), sans-serif;
}

html {
  scroll-behavior: smooth;
}
